body{
    font-family: 'Alegreya',sans-serif;
    background-color: rgb(204, 198, 185);
    display: grid;
    grid-template-areas:    "header"
                            "main";
    gap: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 90%;
    
}

#parrafoinicial{
    font-size: 20px;
    text-align: center;
    
}

header{
    font-family: 'Alegreya',sans-serif;
    display: grid;
    grid-area: header;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    
    
}


main{
    display: grid;
    margin: 3%;
    padding: 5%;
    grid-template-areas: "contenedor1 contenedor1 contenedor1"
                         "izquierda contenedor2 derecha" ;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 30% 70%;
    

            
}
h2{
    text-align: center;
}

ul { 
    list-style-type: square;
}

#contenedor1{
    display: flex;
    padding: 8%;
    background-color: cornsilk;
    justify-content: center;
    text-align: justify;
    grid-area: contenedor1;
    

}

#contenedor2{
    display: grid;
    
    /*justify-content: center;*/
    text-align: justify;
    grid-area: contenedor2;
    

}

#izquierda{
    display: flex;
    /*justify-content: left;*/
    padding: 2%;
    grid-area: izquierda;
  
    
    
}

#derecha{
    display: grid;
    padding: 2%;
    /*justify-content: right;*/
    
    grid-area: derecha;
    
    
    
}